body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000; /* Same as body background */
    padding: 10px;
    text-align: left;
}

.home-btn {
    background-color: #00FF00; /* Green button */
    color: #000; /* Black text on the button */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
}

.home-btn:hover {
    background-color: #008000; /* Darker green on hover */
    cursor: pointer;
}


.chatbot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.chatbox {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.chat-content {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    border-bottom: 1px solid #000000;
}

.default-message {
    text-align: center;
    color: #19e634;
    font-family: 'Times New Roman', Times, serif;
}

.chat-input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    
}

#chat-input {
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    font-size: 14px;
}

#send-btn {
    background-color: #19e634;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #218838;
}

.chat-message {
    margin-bottom: 15px;
}

.chat-message p {
    margin: 0;
    padding: 10px;
    border-radius: 40px;
}

.outgoing {
    text-align: right;
}

.outgoing p {
    background-color: #19e634;
}

.incoming p {
    background-color: #ffffff;
}
